.review-page{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width:90%;
    margin: auto;
}

@media screen and (max-width: 650px){
    .review-page{
        display: grid;
        grid-template-columns: 1fr;
    }
}