.user-review{
    box-shadow: 2px 3px 20px rgb(206, 203, 203);
    padding: 20px;
    margin: 20px 10px;
    border-radius: 10px;
}
.user-review img{
    border-radius: 50%;
    height: 150px;
    padding: 10px;
}