/* using row css for this website */

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(168, 248, 255);
    box-shadow: 2px 3px 10px gray;
    position: sticky;
    top: 0;
}

.menu-section{
    font-size: 20px; 
}
.menu-section a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin-right: 25px;
}